#section1.section
  section#about.text-left-block
    .row.row-no-margin
      .col-xs-12.col-sm-6.col-lg-6.left-center-text.split-section.foo
        .left-center-part
          h2 About us
          p#lor01
      .col-xs-12.col-sm-6.col-lg-6.slideshow-about.split-section.foo
