meta(charset='utf-8')
title #{title}
meta(name='description', content='The description should optimally be between 150-160 characters.')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
meta(name='author', content='ThemeHelite')
link(rel='shortcut icon', href='img/favicon.png')
link(rel='apple-touch-icon', sizes='144x144', href='/img/favicon-retina-ipad.png')
link(rel='apple-touch-icon', sizes='114x114', href='/img/favicon-retina-iphone.png')
link(rel='apple-touch-icon', sizes='72x72', href='/img/favicon-standard-ipad.png')
link(rel='apple-touch-icon', sizes='57x57', href='/img/favicon-standard-iphone.png')
link(rel='stylesheet', type='text/css', href='/css/style.css')
