#section0.section
  .slideshow-home
  .intro
    img.brand-logo(src='img/logo.png', alt='')
    h1 Maecenas aliquet et auctor.
    p
      | eget congue mauris
      strong Sed egestas ligula arcu
      |  hendrerit id id diam.
      br
      |  “Lorem ipsum dolor sit amet, consectetur adipiscing elit.”
    a.light-btn(href='#About-2') Sed vel
  .scroll-indicator
    a(href='#About-2')
