#info
  .content
    h2
      |  pulvinar
      span tellus porta
    p.subtitle
      | Class aptent taciti sociosqu ad litora torquent per conubia nostra,
      strong
        | elementum mauris euismod hendrerit id id diam
    #getting-started
    h3 Sed egestas ligula arcu
    a.action-btn.trigger(data-dialog='somedialog') Nunc consectetur ligula quis
  #social-nav
    ul
      li
        a(href='#')
          i.fa.fa-codepen
      li
        a(href='#')
          i.fa.fa-github
      li
        a(href='#')
          i.fa.fa-linkedin
      li
        a(href='#')
          i.fa.fa-facebook
      li
        a(href='#')
          i.fa.fa-flickr
