#section2.section
  section#portfolio
    .portfolio.my-gallery(itemscope='', itemtype='http://schema.org/ImageGallery')
      include portfolio/item-01.jade
      include portfolio/item-01.jade
      include portfolio/item-01.jade
      include portfolio/item-01.jade
      include portfolio/item-01.jade
      include portfolio/item-01.jade
