figure.col-xs-12.col-sm-6.col-lg-6.annex-img.split-section.foo(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
  a.gallery-link.small(href='img/small-square-1.jpg', data-image='img/small-square-1.jpg', itemprop='contentUrl', data-size='1920x1280')
    img.img-responsive.gallery-img.small-square(src='img/small-square-1.jpg', itemprop='thumbnail', alt='This is my work')
  figcaption(itemprop='caption description')
    .photo-details
      h4 hendrerit id id diam.
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
